{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@emotion/babel-plugin",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
